.services_wrapper .service_wrapper {
    background: white;
    padding: 18px 18px 17px;
    border: 1px solid #dce7ed;
    margin-top: -1px;
}
.services_wrapper .service_wrapper a {
	text-decoration: none;
}
.work_time.new {
	display: none;
}
button.main-grid-buttons.save[disabled] {
	background-color: #cccec7!important;
	cursor: default!important;
}
.calendar_wrapper {
	display: flex;
    margin: 20px -15px 20px;
}
.calendar_wrapper .top_block_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.calendar_wrapper .top_block_wrapper .adm-nav-page {
	margin: 0px 15px;
}
.work_time_wrapper .work_time {
	font-size: 12px;
}
.work_time_wrapper .work_time + .work_time {
	margin-top: 13px;
}
input.work_time--text {
    padding: 5px;
    border-radius: 5px;
    border-style: groove;
}
.work_time_wrapper .work_time + .work_time .work_time--title {
	margin-top: 15px;
}
.work_shop--title {
	margin-top: 5px;
}
.work_time.new + input {
	margin-top: 5px;
}